<h2>
  What's the Story?</h2>
<table width="723" border="0" align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td width="240"><img src="http://staging.vignetto.com/images/storyimage.png" width="240" height="500" /></td>
    <td colspan="2" valign="middle"><p>I moved from San Francisco to wine country eight years ago, and now even make wine in my laundry room. Vignetto is a dream come true to share the life, food, wine, people, and experiences I’m lucky enough to have here. After a career in technology, I’ve found my heart and soul here in Healdsburg, California.</p>
      <br>
      <br>
      <p>I’ve been fortunate to meet a number of great friends who are the region’s best winemakers and chefs. Some of the most memorable meals I’ve had have been casual events in the backyard, a warm summer night with paper plates and world-class wines. And so you know we don’t mess around here in Healdsburg—we’re talking slow-roasted pig or stuffed whole salmon served with homemade regional wine made from grapes picked by hand. It doesn’t get much better. </p>
      <br>
      <br>
      <p>With the help of yet more friends and locals who are just as passionate about wine and food and creating unique wine country experiences, we’ve created Vignetto. Discover a new kind of travel experience and drink the wine, eat the food, meet the people, and see the places we get to enjoy here every day.</p>
      <br>
      <br>
    <p>We can’t wait to share them all with you! </p>
    <p>Cheers,</p>
    <p>Darin Kotalik, Vignetto Founder </p>
    <p>&amp; The Vignetto Team </p>
</td>
  </tr>
  <tr>
    <td align="center" valign="top"/td>
    <td width="202" align="center" valign="top"><a class="btn btn-calltoaction" href="/explore">Check out Events</a></td>
    <td width="231" align="center" valign="top"><a class="btn btn-calltoaction" href="/packages">Check out Packages</a></td>
  </tr>
</table>