<h2>How Does it Work?</h2>
<p>&nbsp;</p>
<table width="723" border="0" align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td colspan="3"><p>Vignetto collaborates with local chefs, wineries, venues, transportation companies, artists and the like to provide unique, wine country experiences where you, your significant other and/or your group can live in wine country like a local. We promise unique events and wine trips that you will not find anywhere else. Live like a local with Vignetto. </p>
    <p>f you are interested in an event but find it is sold out, please select the waitlist option and we will update you as space becomes available.</p>
<p>Follow us on Facebook and Twitter and sign up for our mailing list to get alerts on all of the new, exclusive wine country experiences that will have you living wine country like a local.
</p></td>
  </tr>
  <tr>
    <td width="240"><img src="/images/howitworks1.png" width="240" height="220"></td>
    <td colspan="2" valign="top"><h3>Browse</h3><br />
<p>Browse all of our unique wine country experiences, from catered lunches in a vineyard and candlelit dinners in the cellar, to helicopter tours and private tastings from world-class winemakers. Find your ideal wine country experience and book it today!</p>
    </td>
  </tr>
   <tr>
    <td width="240"><img src="/images/howitworks2.png" width="240" height="220"></td>
    <td colspan="2" valign="top"><h3>Book It</h3>
      <br>
<p>Booking is easy as 1-2-3! Find your perfect event or package, create an account and reserve your space today. </p>
</td>
  </tr>
   <tr>
    <td width="240"><img src="/images/howitworks3.png" width="240" height="220"></td>
    <td colspan="2" valign="top"><h3>Brag</h3>
      <br>
<p>Live it up during your unique wine country experience and tell us and all of your friends about it! Follow us on Facebook, Twitter and Instagram to see all the great wine country experiences we're helping create for visitors from near and far; teaching them to live wine country like a local.</p></td>
  </tr>
  <tr>
    <td align="center" valign="top"><td width="202" align="center" valign="top"><a class="btn btn-calltoaction" href="/explore">Check out Events</a></td>
   <td width="202" align="center" valign="top"><a class="btn btn-calltoaction" href="/packages">Check out Packages</a></td>
  </tr>
</table>