<h2>Need a Custom Corporate or Private Event?</h2>
<table width="723" border="0" align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td colspan="3"><p>Planning a corporate event or bringing a group to wine country? Let us help you design an unforgettable occasion! From corporate team offsites and executive outings to a group of friends celebrating a special day, count on us to create a one-of-a-kind experience everyone will cherish for a lifetime.  </p></td>
  </tr>
  <tr>
    <td width="240"><img src="/images/corporatecellar.png" width="240" height="220"></td>
    <td colspan="2" valign="top"><h3>Corporate Outings</h3><br />
<p>Imagine a conference room dedicated to your team, decked out with private tastings by a world class wine maker accompanied by a unique dinner experience with a world-class chef..just for you. We'll plan your upcoming corporate getaway tailored to your needs. Vignetto is here to help; let us make your vision a reality and create a custom wine country experience for your team, executives and board members. Do you business while you Live Wine Country like a local with Vignetto at your side. </p></td>
  </tr>
   <tr>
    <td width="240" rowspan="2"><img src="/images/groups.png" width="240" height="220"></td>
    <td colspan="2" valign="top"><h3>Private Groups</h3>
      <br>
<p>Desiring a girl’s weekend, planning a class reunion or vacation with close friends? Vignetto is your destination for creating these unique memories that will last a lifetime. Let our local wine county experts turn your dream trip into a reality. </p>
<p>&nbsp;</p></td>
  </tr>
   <tr>
     <td colspan="2" align="right" valign="top"><a class="btn btn-calltoaction" href="/in-the-news">Send us an Inquiry</a></td><p>&nbsp;</p>
   </tr>
  <tr>
    <td align="center" valign="top"><td width="202" align="center" valign="top"><a class="btn btn-calltoaction" href="/explore">Explore Events</a></td>
   <td width="202" align="center" valign="top"><a class="btn btn-calltoaction" href="/packages">Checkout Packages</a></td>
  </tr>
</table>