# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: Example User
  admin_email: user@example.com
  admin_password: changeme
  domain_name: example.com
  secret_key_base: eb06d4e659063e52098b710a2098efee051f59ee385acf5e3c782f3f915974ce9354cdb05aa25f733fb395929e59996288f79fd127d636102fd046c0966853f8
  stripe_publishable_key: pk_test_Qfe7pd0ae38mMe4eByR4lm5Q
  stripe_secret_key: sk_test_GKHx9EOtQy2RHDubr72SWIhy
  mailchimp_api_key: GET_FROM_TEAM
  sharethis_pub_api_key: GET_FROM_TEAM
  aws:
    access_key_id: GET_FROM_TEAM
    secret_access_key: GET_FROM_TEAM
    bucket: app-vignetto-development
    region: us-west-2


test:
  domain_name: example.com
  secret_key_base: a9c59d6409d895836969c142ab4754d2bd2c8dff84dc6e25da1038dd5272b6ee2b01043f268088716c074de6ef7b8d5b796081b94927fa4830774e2086c9ae82
  stripe_publishable_key: pk_test_Qfe7pd0ae38mMe4eByR4lm5Q
  stripe_secret_key: sk_test_GKHx9EOtQy2RHDubr72SWIhy
  mailchimp_api_key: GET_FROM_TEAM
  sharethis_pub_api_key: GET_FROM_TEAM
  aws:
    access_key_id: GET_FROM_TEAM
    secret_access_key: GET_FROM_TEAM
    bucket: app-vignetto-development
    region: us-west-2
